{% extends 'admin_panel/custom_master.html' %}
{% block body %}
  <div class="row">
    <div class="col-12">
      <h1 class="heading">Панель управления</h1>
      <hr>
    </div>
  </div>
  {% if current_user.is_authenticated %}
    {% for row in models_data %}
      <div class="row">
          {% for model in row %}
          <div class="col-md-6 col-sm-6 col-lg-4">
                  <h5>{{model.verbose_name}}</h5>
                  <p>Всего: {{ model.total_objs }}</p>
                  <p>
                    <a href="{{ model.url }}">Перейти</a>
                  </p>

                 <br>
                </div>
            {% endfor %}
      </div>

    {% endfor %}
  {% endif %}


{% endblock body %}